Repository fedanant/asyncapi-doc: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, AsyncAPI Core, Parser, Type System, Schema Generation, AsyncAPI Spec

.codecov.yml:

codecov:
  require_ci_to_pass: yes
  notify:
    wait_for_ci: yes

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: 70%
        threshold: 2%
        if_ci_failed: error
        if_not_found: success
        informational: false
        only_pulls: false

    patch:
      default:
        target: 70%
        threshold: 2%
        if_ci_failed: error
        if_not_found: success
        only_pulls: true

    changes:
      default:
        if_ci_failed: error
        if_not_found: success
        informational: false

comment:
  layout: "header,diff,flags,components,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true
  branches:
    - main
    - develop

github_checks:
  annotations: true

ignore:
  - "**/*_test.go"
  - "**/testdata/**"
  - "example/**"
  - "cmd/**"
  - "**/*.pb.go"
  - "**/mock_*.go"
  - "**/mocks/**"

component_management:
  individual_components:
    - component_id: asyncapi
      name: AsyncAPI Core
      paths:
        - internal/asyncapi/**
    - component_id: parser
      name: Parser
      paths:
        - internal/asyncapi/parser.go
        - internal/asyncapi/operation.go
    - component_id: types
      name: Type System
      paths:
        - internal/asyncapi/type_checker.go
        - internal/asyncapi/ast_types.go
    - component_id: schema
      name: Schema Generation
      paths:
        - internal/asyncapi/schema.go
    - component_id: spec
      name: AsyncAPI Spec
      paths:
        - internal/asyncapi/spec3/**

flags:
  unittests:
    paths:
      - internal/
    carryforward: true

update to asyncapi 3.0
  .codecov.yml
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .golangci.yml
  LICENSE
  Makefile
  README.md
  cmd/asyncapi-doc/main.go
  example/nats/.gitignore
  example/nats/Makefile
  example/nats/QUICKSTART.md
  example/nats/README.md
  example/nats/go.mod
  example/nats/main.go
  example/nats/types.go
  go.mod
  go.sum
  internal/asyncapi/README.md
  internal/asyncapi/ast_types.go
  internal/asyncapi/asyncapi.go
  internal/asyncapi/golist.go
  internal/asyncapi/operation.go
  internal/asyncapi/operation_test.go
  internal/asyncapi/parser.go
  internal/asyncapi/parser_test.go
  internal/asyncapi/schema.go
  internal/asyncapi/schema_test.go
  internal/asyncapi/spec3/types.go
  internal/asyncapi/type_checker.go
  internal/config/config.go
Due: unittests, AsyncAPI Core, Parser, Type System, Schema Generation, AsyncAPI Spec

add build tag version
  .github/scripts/generate-release-notes.sh
  .github/workflows/release.yml
  .github/workflows/tag-release.yml
  README.md
  cmd/asyncapi-doc/main.go
Due: none

Update main.go
  cmd/asyncapi-doc/main.go
Due: none

fix: improve smoke tests to skip execution for cross-compiled binaries
  .github/workflows/tag-release.yml
Due: none

fxi build
  .github/workflows/tag-release.yml
  cmd/asyncapi-doc/main.go
Due: none

feat: upload raw binaries without archives and checksums
  .github/workflows/tag-release.yml
Due: none

Initial commit
  .codecov.yml
  .github/dependabot.yml
  .github/scripts/generate-release-notes.sh
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/tag-release.yml
  .gitignore
  .golangci.yml
  LICENSE
  Makefile
  README.md
  cmd/asyncapi-doc/main.go
  doc/video.gif
  example/nats/.gitignore
  example/nats/Makefile
  example/nats/README.md
  example/nats/go.mod
  example/nats/go.sum
  example/nats/main.go
  example/nats/types.go
  go.mod
  go.sum
  internal/asyncapi/README.md
  internal/asyncapi/ast_types.go
  internal/asyncapi/asyncapi.go
  internal/asyncapi/golist.go
  internal/asyncapi/operation.go
  internal/asyncapi/operation_test.go
  internal/asyncapi/parser.go
  internal/asyncapi/parser_test.go
  internal/asyncapi/schema.go
  internal/asyncapi/schema_test.go
  internal/asyncapi/spec3/types.go
  internal/asyncapi/type_checker.go
  internal/asyncapi/types.go
  internal/config/config.go
Due: unittests, AsyncAPI Core, Parser, Type System, Schema Generation, AsyncAPI Spec

update version
  cmd/asyncapi-doc/main.go
Due: none

update readme
  README.md
  example/nats/README.md
  example/nats/main.go
  internal/asyncapi/parser.go
  internal/asyncapi/parser_test.go
Due: unittests, AsyncAPI Core, Parser

delete unusage test
  README.md
  internal/asyncapi/operation_test.go
Due: none

Update version
  cmd/asyncapi-doc/main.go
Due: none

add exclude
  README.md
  cmd/asyncapi-doc/main.go
  internal/asyncapi/asyncapi.go
Due: unittests, AsyncAPI Core

update readme
  README.md
Due: none

add more annotations
  README.md
  example/nats/main.go
  internal/asyncapi/operation.go
  internal/asyncapi/parser.go
  internal/asyncapi/parser_test.go
  internal/asyncapi/spec3/types.go
Due: unittests, AsyncAPI Core, Parser, AsyncAPI Spec

add pre commit and fix lint
  .pre-commit-config.yaml
  Makefile
  README.md
  internal/asyncapi/operation.go
  internal/asyncapi/parser.go
Due: unittests, AsyncAPI Core, Parser

fix ci/cd
  .github/workflows/release.yml
Due: none
